version: '3.8'

services:
  user:
    container_name: userservice
    image: rednecksinc/brugerservice:latest
    ports:
      - "5002:80"
    networks:
      - default
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionString=mongodb://auktionshusdb:27017
      - DatabaseName=AuktionshusDb
      - CollectionName=Users

  product:
    container_name: productservice
    image: rednecksinc/produktservice:latest
    ports:
      - "5003:80"
    networks:
      - default
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionString=mongodb://auktionshusdb:27017
      - DatabaseName=AuktionshusDb
      - CollectionName=ProductCatalogue

  auktion:
    container_name: auktionservice
    image: rednecksinc/auctionservice:latest
    ports:
      - "5004:80"
    networks:
      - default
    environment:
      - ConnectionString=mongodb://auktionshusdb:27017
      - DatabaseName=AuktionshusDb
      - CollectionName=AuctionCollection
      - BaseURIUser=http://userservice
      - BaseURIProduct=http://productservice
      - Rabbit=messagebroker

  auktionshusdb:
    container_name: auktionshusdb
    image: mongo:latest
    ports:
      - "27018:27017"
    networks:
      - default
    environment:
      - RabbitMQ=value

  messagebroker:
    container_name: messagebroker
    image: rabbitmq:management
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - default

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - user
    ports:
      - "4000:4000"
    networks:
      - default

  swagger-ui:
   image: swaggerapi/swagger-ui
   container_name: swagger_ui_container
   ports:
      - "8080:8080"
   volumes:
      - ./doc:/usr/share/nginx/html/doc
   environment:
      API_URL: auktion:5004

networks:
  default:
    driver: bridge

volumes:
  docs: